<div class="header">
  <h1 class="press-start-2p-regular">Reece King</h1>
  <p class="press-start-2p-regular">Software Developer</p>
  <ul class='socials'>
    <li><a href="https://github.com/reecemlrking"><img class="socials-image" src="/images/github.svg"></a></li>
    <li><a href="https://github.com/reecemlrking"><img class="socials-image" src="/images/github.svg"></a></li>
    <li><a href="https://github.com/reecemlrking"><img class="socials-image" src="/images/github.svg"></a></li>
  </ul>
</div>
