@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}


.source-code-pro-body {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


* {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f5f5f5;
}

html,
body {
  margin: 0;
  padding: 0;
}
