<div class="languages">
  <h1 class="languages-header">Languages</h1>

  <h2 class="language-name"><img class="language-logo" src="images/c-logo.svg">C</h2>

  <p class="language-body">C programming language</p>


  <h2 class="language-name"><img class="language-logo" src="images/java.svg">Java</h2>

  <p class="language-body">Java programming language</p>


  <h2 class="language-name"><img class="language-logo" src="images/js-logo.png">JavaScript</h2>

  <p class="language-body">JavaScript programming language</p>


  <h2 class="language-name"><img class="language-logo" src="images/matlab.svg">Matlab</h2>

  <p class="language-body">Matlab programming language</p>


  <h2 class="language-name"><img class="language-logo" src="images/python.svg">Python</h2>

  <p class="language-body">Python programming language</p>


  <h2 class="language-name riscv"><img class="language-logo" src="images/riscv.svg">RISC-V ASM</h2>

  <p class="language-body">RISC-V ASM programming language</p>


  <h2 class="language-name"><img class="language-logo" src="images/ts-logo.svg">TypeScript</h2>

  <p class="language-body">TypeScript programming language</p>
</div>
