@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.riscv {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.languages {
  margin: 1em;
}

.languages-header {}

.languages-name {}

.languages-body {}

.language-logo {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  padding-right: 1em;
}
