.languages {
  margin: 10px;
}

.languages-header {
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0;
}

.languages-body {
  padding: 10px;
}

.languages-body p:first-of-type {
  margin-top: 0;
}

.languages-body p:last-of-type {
  margin-bottom: 0;
}

.collapsible {
  background-color: #f5f5f5;
  cursor: pointer;
  color: #222;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 2em;
}

.active,
.collapsible:hover {
  background-color: #e5e5e5;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
