<div class="languages">
  <h1 class="languages-header">Languages</h1>
  <h2 class="language-name"><img class="language-logo" src="images/c-logo.svg">C</h2>
  <p class="language-body">C programming language</p>

  <h2 class="language-name"><img class="language-logo" src="images/python.svg">Python</h2>

  <h2 class="language-name"><img class="language-logo" src="images/java.svg">Java</h2>

  <h2 class="language-name"><img class="language-logo" src="images/matlab.svg">Matlab</h2>

  <h2 class="language-name"><img class="language-logo" src="images/js-logo.png">Javascript</h2>

  <h2 class="language-name"><img class="language-logo" src="images/ts-logo.svg">Typescript</h2>

  <h2 class="language-name riscv"><img class="language-logo" src="images/riscv.svg">RISC-V ASM</h2>
</div>
