.bio {
  margin: 1em;
}

.bio-header {
  font-weight: bold;
}


.bio-body {
  border-width: 1px;
  border-color: #333;
  border-style: solid;
  padding: 1em;
}

.bio-body p:first-of-type {
  margin-top: 0;
}

.bio-body p:last-of-type {
  margin-bottom: 0;
}
