<div class='bio'>
  <h1 class='bio-header'>Bio</h1>
  <div class='bio-body'>
    <p>
      Hi! I'm Reece. I am a recent university graduate with a BSc in Computing Science and Physics.
      I love building things both physically and digitally. I fell in love with programming when I
      decided to take a CS course out of curiosity, and quickly fell in love with the endless possibilities
      the field provided. Shifting degree focus, I pursued Computing Science throughout my Bachelors and have
      since created many little projects throughout my degree both in the classroom and on my own.
    </p>

    <p>
      Outside of the programming space, I love climbing and hiking and just being physically active.
      I've recently competed in a climbing competition at my local gym and came in first place in my
      division (intermediate). I love reading too! I'm currently working my way through Robert Jordan's
      expansive Wheel of Time series, and I'm loving every page. Though I haven't hade much time as of late,
      I love gaming both digitally and physically with board/card games. Some of my favorite games in the
      digital world are: Elden Ring, Sekiro, Stardew Valley, and Doom Eternal. I'm an avid TTRPG player too
      and love to play Dungeons and Dragons with my friends and family.
    </p>
  </div>
</div>
